.cabeçalho {
    background-color: blue;
}
.cabeçalho-título {
    color: white;
    {
    .cabeçalho-imagem {
        whidth: 50px;
        }
        .cabeçalho-lista
        color: white;
        }
            
        }
    }

}